In [6]:
import numpy as np
import pandas as pd

In [3]:
#Create an Array 
x = np.array([1,2,3,4])
print(x)
print("Element at index 2:", x[2])
print(type(x))

[1 2 3 4]
Element at index 2: 3
<class 'numpy.ndarray'>

In [4]:
# list
y = [1, 2, 3, 4]
print("First element:", y[0])
print(type(y))

First element: 1
<class 'list'>

In [7]:
# Series in Pandas
data = [10, 20, 30, 40, 50]
my_series = pd.Series(data)
print(my_series)
print(my_series[2])

0    10
1    20
2    30
3    40
4    50
dtype: int64
30

In [8]:
a = [1, 2, 5]
a_series = pd.Series(a, index = ["x", "y", "z"])
print(a_series)

x    1
y    2
z    5
dtype: int64

In [10]:
 # create a dictionary with key value pairs
grades = {"Sem1" : 8.25, "Sem2" : 9.5, "Sem3" :7.75}
 # create a series from the dictionary
my_series = pd.Series(grades)
print(my_series)

first_year = pd.Series(grades, index =["Sem1", "Sem2"])
print(first_year)

Sem1    8.25
Sem2    9.50
Sem3    7.75
dtype: float64
Sem1    8.25
Sem2    9.50
dtype: float64

In [9]:
mat = np.matrix([[1, 2], [3, 4]])
print("Matrix:\n", mat)
print("Element at (2,1):", mat[1, 0])

Matrix:
 [[1 2]
 [3 4]]
Element at (2,1): 3